.MainDiv {
  scroll-margin-top: 120px;
}

h2 {
  margin: 30px 20px 20px 60px;
}

.SkillsgroupDiv {
  justify-content: space-around;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.IconDiv {
  color: var(--secondary-color);
}

svg {
  width: 55px;
  margin: 5px 10px;
}

.IconDiv:hover {
  color: var(--primary-color);
}

.TooltipBox {
  visibility: hidden;

  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  transition: opacity 0.5s;
  position: relative;
  z-index: 1;
}

.SkillDiv .IconDiv:hover + .TooltipBox {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .SkillsgroupDiv {
    flex-direction: column;
    align-items: center;
  }
} 
